@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Handlee&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --st-color: #27272a;
    --nd-color: #e4e4e7;
    --rd-color: #18181b;

    --st-font: 'Handlee', cursive;
    --nd-font: 'Fredoka One', cursive;
}

body {
    font-family: var(--st-font);
    color: var(--nd-color);
    background-color: var(--st-color);
}

.board-cont {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.fade {
    animation: fade-out 0.5s;
}

.longfade {
    animation: fade-out 0.7s;
}

.fadein {
    animation: fadeIn 0.5s;
}

.longfadein {
    animation: fadeIn 0.7s;
}

.fadeIndisp {
    animation: fadeInDisplay 0.5s;
}

.options-header {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.options-header h1 {
    word-spacing: 20px;
    letter-spacing: 5px;
    font-size: 2.8rem;
}

.git {
    position: absolute;
    top: 15px;
    right: 20px;
}

.git img, .git2 img {
    height: auto;
    width: 54px;
    filter: invert(80%);
    transition: all 0.2s ease;
}

.git2 {
    position: static;
}

.players-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.players-cont p {
    font-family: var(--nd-font);
    font-size: 8.5rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.players-cont .player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player input {
    padding: 5px;
    border: none;
    border-radius: 10px;
    align-self: center;
    width: 90px;
    height: 30px;
}

input::placeholder {
    text-align: center;
}

.selected {
    background-color: var(--nd-color);
    color: var(--rd-color);
}

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-bottom: 10px;
}

button {
    width: 90px;
    font-family: inherit;
    font-size: 1rem;
    color: var(--st-font);
    background-color: var(--rd-color);
    padding: 12px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover, .git img:hover {
    transform: scale(1.1, 1.1);
}

button:active, .git img:active {
    transform: scale(1 , 1);
}

.goBack-btn button{
    width: 100px;
    padding: 10px;
}

.playersScore {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 18px;
}

.playersScore .player {
    display: flex;
    gap: 62px;
}

.playersScore .player p{
    max-width: 180px;
    word-wrap: break-word;
}

#player1Score p, #player2Score p {
    font-size: 1.8rem;
}   

.player1Name, .player2Name {
    min-width: 180px;
    font-size: 3rem;
}

.player1Name {
    text-align: right;
}

.draw-txt p{
    font-size: 1.8rem;
    min-width: 140px;
    text-align: center;
    margin-bottom: 64px;
}

.empty {
    font-family: var(--nd-font);
    font-size: 4rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.score {
    align-self: center;
}

.game-cont {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    width: 400px;
    height: 400px;
}

.glow {
    animation: glow 0.3s ease forwards;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--nd-font);
    font-size: 6rem;
    background-color: var(--st-color);
    border: 8px solid var(--nd-color);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.cell .appear {
    animation: appear 0.2s ease forwards;
}

.cell p {
    text-align: center;
    min-width: 125px;
    min-height: 125px;
}

.cell:nth-child(1), .cell:nth-child(3), .cell:nth-child(7), .cell:nth-child(9){
    border: none;
}

.cell:nth-child(2) {
    border-top: none;
    border-bottom: none;
}

.cell:nth-child(4) {
    border-left: none;
    border-right: none;
}

.cell:nth-child(6) {
    border-right: none;
    border-left: none;
}

.cell:nth-child(8) {
    border-bottom: none;
    border-top: none;
}

.restart-btn {
    position: absolute;
    align-self: center;
    margin-left: 700px;
}

.restart-btn button {
    width: 130px;
}

.current {
    filter: drop-shadow(1px 3px 8px var(--nd-color))
}

#restartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

img[src*='restart'] {
    height: auto;
    width: 24px;
}

.play-cont {
    display: flex;
    gap: 72px;
}

.start-btn {
    align-self: center;
}

.player:nth-child(3) .computer-cont{
    margin-top: 28px;
}

.cpu {
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
    margin-bottom: 20px;
}

.computer-cont img {
    width: 105px;
    filter: invert();
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}  

@keyframes fadeIn {
    from { opacity: 0%; }
    to { opacity: 100%; }
}

@keyframes fadeInDisplay {
    0% {
        display: none;
    }
    1% {
        display: block;
        opacity: 0;
        /* transform: scale(0); */
    }
    100% {
        opacity: 1;
        /* transform: scale(1); */
    }
}

@keyframes appear{
    0%{ opacity: 0; transform: scale(2); }
    25%{ opacity: 0.25; transform: scale(1.5); }
    50%{ opacity: 0.5; transform: scale(0.7); }
    100%{ opacity: 1; transform: scale(1); }
}

@keyframes glow{
    100% { filter: drop-shadow(1px 3px 8px var(--nd-color)); }
}

@media (max-width: 550px) {
    .options-header h1 {
        font-size: 2rem;
    }

    .git img, .git2 img {
        height: auto;
        width: 40px;
    }

    .play-cont {
        gap: 60px;
    }

    .cpu {
        margin-right: 2px;
    }

    .players-cont p {
        font-size: 6.5rem;
    }

    .player input {
        width: 80px;
        height: 28px;
    }

    button {
        width: 80px;
        font-size: 0.8rem;
    }

    .player1Name, .player2Name{
        font-size: 2.5rem;
    }

    #player1Score p, #player2Score p {
        font-size: 1.5rem;
    }

    .playersScore .player {
        gap: 50px;
    }

    .draw-txt p {
        font-size: 1rem;
        min-width: 90px;
    }

    .game-cont {
        margin-top: 25px;
    }

    .game-board {
        width: 310px;
        height: 310px;
    }

    .restart-btn {
        margin-left: 0;
        margin-top: 500px;
    }

    .game-board {
        grid-template-columns: repeat(3, 110px);
        grid-template-rows: repeat(3, 110px);
    }

    .cell {
        font-size: 4.8rem;
    }

    .cell p {
        min-width: 94px;
        min-height: 94px;
    }

    .player1Name, .player2Name {
        min-width: 64px;
    }

    .computer-cont img {
        width: 80px;
    }
}